<div class="card ">
    <h1 class="d-inline card-header">Update Cash on Bank Balance</h1>
  <div class ="card-body">
    <div class="container">
        <div *ngIf="successMsg"
          class="alert alert-success">
            <b>Success: </b>{{successMsg}}
        </div>
        <div *ngIf="errorMsg"
            class="alert alert-danger">
              <b>Error: </b> {{errorMsg}}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <div class="container">
                      <label for="cashBal">New Cash on Bank Balance (In SGD): </label>
                      &nbsp;
                      <input type="text" id="cashBal" [(ngModel)]="cashBal" name="cashBal" (keypress) = "onlyNumAllowed($event)">
                    </div>
                    <br>
                    <div class="container">
                        <button type="button" class="btn btn-success custom" (click)="onUpdate(cashBal)">Save</button>
                        <button type="button" class="btn btn-danger custom" (click)="onClose()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  