<div class="container-fluid">
  <br/>

  <div class="card ">
    <h1 class="card-header">
      Portfolio Performance
    </h1>
    <div class="card-body">

        <div class="row">
          <div class="col-2">
            <label style='position:absolute; top:25%'>Select Portfolio: </label>
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="selectedPortfolio">
              <option *ngFor = "let portfolio of this.form.portfolioList" [value] = "portfolio">{{portfolio}}</option>
            </select>
          </div>
        </div>

        <br>

        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Investment"> 
            <br>
            <div class="card" style="width:50%">
              <h1 class="card-header">
                Portfolio Investment Performance
              </h1>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <div class="card">
                      <h4 class="card-header">
                        Investment Amount
                      </h4>
                      <div class="card-body">
                        <h2>${{portfolioPerformance.investAmt}}</h2>
                      </div>
                    </div>
                  </div> 
                  <div class="col-3">
                    <div class="card">
                      <h4 class="card-header">
                        Current Value
                      </h4>
                      <div class="card-body">
                        <h2>${{portfolioPerformance.currentVal}}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <h4 class="card-header">
                        Profit(SGD)
                      </h4>
                      <div class="card-body">
                        <h2 *ngIf = "portfolioPerformance.profit < 0" style="color:red;">-${{portfolioPerformance.profit}}</h2>
                        <h2 *ngIf = "portfolioPerformance.profit == 0">${{portfolioPerformance.profit}}</h2>
                        <h2 *ngIf = "portfolioPerformance.profit > 0" style="color:green;">+${{portfolioPerformance.profit}}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <h4 class="card-header">
                        Profit(%)
                      </h4>
                      <div class="card-body">
                        <h2 *ngIf = "portfolioPerformance.profitPct < 0" style="color:red;">-{{portfolioPerformance.profitPct}}%</h2>
                        <h2 *ngIf = "portfolioPerformance.profitPct == 0">{{portfolioPerformance.profitPct}}%</h2>
                        <h2 *ngIf = "portfolioPerformance.profitPct > 0" style="color:green;">+{{portfolioPerformance.profitPct}}%</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <table class="table table-striped" style="width:50%">
              <thead class="table-header">
                  <tr>
                      <th>&nbsp;</th>
                      <th>Investment Amount(SGD)</th>
                      <th>Current Value(SGD)</th>
                      <th>Profit(SGD)</th>
                      <th>Profit(%)</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>{{etfPerformance.name}}</td>  
                    <td>${{etfPerformance.investAmt}}</td>
                    <td>${{etfPerformance.currentVal}}</td>
                    <td *ngIf = "etfPerformance.profit < 0" style="color:red;">
                      <b>-${{etfPerformance.profit}}</b> </td>
                    <td *ngIf = "etfPerformance.profit == 0">
                          ${{etfPerformance.profit}} </td>
                    <td *ngIf = "etfPerformance.profit > 0" style="color:green;">
                        <b>+${{etfPerformance.profit}}</b> </td>
                    <td *ngIf = "etfPerformance.profitPct < 0" style="color:red;">
                      <b>{{etfPerformance.profitPct}}%</b> </td>
                    <td *ngIf = "etfPerformance.profitPct == 0">
                          {{etfPerformance.profitPct}}% </td>
                    <td *ngIf = "etfPerformance.profitPct > 0" style="color:green;">
                        <b>+{{etfPerformance.profitPct}}%</b> </td>
                  </tr>
                  <tr>
                    <td>{{stockPerformance.name}}</td>  
                    <td>${{stockPerformance.investAmt}}</td>
                    <td>${{stockPerformance.currentVal}}</td>
                    <td *ngIf = "stockPerformance.profit < 0" style="color:red;">
                      <b>-${{stockPerformance.profit}}</b> </td>
                    <td *ngIf = "stockPerformance.profit == 0">
                          ${{stockPerformance.profit}} </td>
                    <td *ngIf = "stockPerformance.profit > 0" style="color:green;">
                        <b>+${{stockPerformance.profit}}</b> </td>
                    <td *ngIf = "stockPerformance.profitPct < 0" style="color:red;">
                      <b>-{{stockPerformance.profitPct}}%</b> </td>
                    <td *ngIf = "stockPerformance.profitPct == 0">
                          {{stockPerformance.profitPct}}% </td>
                    <td *ngIf = "stockPerformance.profitPct > 0" style="color:green;">
                        <b>+{{stockPerformance.profitPct}}%</b> </td>
                  </tr>
              </tbody>
            </table>
          </mat-tab>
          <mat-tab label="Cash Solutions"> 
            Content 2 
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>



