<div class="container-fluid">
  <br/>

  <div class="card ">
    <h1 class="card-header">
      Portfolio Performance
    </h1>
    <div class="card-body">

        <div class="row">
          <div class="col-2">
            <label style='position:absolute; top:25%'>Select Portfolio: </label>
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="selectedPortfolio" (change)='loadInvest(selectedPortfolio)'>
              <option *ngFor = "let portfolio of this.form.portfolioList" [value] = "portfolio">{{portfolio}}</option>
            </select>
          </div>
          <div class="col-1">

          </div>
          <div class="col-1">
            <label style='position:absolute; top:25%'>User: </label>
          </div>
          <div class="col-2">
            <!-- <form class="example-form">
              <mat-form-field class="example-full-width" >
                <input matInput [value]="username" disabled>
              </mat-form-field>
            </form> -->
            <select class="form-control" disabled>
              <option [value]="username" >{{username}}</option>
            </select>
          </div>
        </div>

        <br>

        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Investment"> 
            <br>
            <div class="container-fluid">
              
              <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <h1 class="card-header">
                      Portfolio Investment Performance
                    </h1>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                          <div class="card">
                            <h4 class="card-header">
                              Investment Amount
                            </h4>
                            <div class="card-body">
                              <h2>${{portfolioPerformance.investAmt | number : '1.2-2'}}</h2>
                            </div>
                          </div>
                        </div> 
                        <div class="col-3">
                          <div class="card">
                            <h4 class="card-header">
                              Current Value
                            </h4>
                            <div class="card-body">
                              <h2>${{portfolioPerformance.currentVal | number : '1.2-2'}}</h2>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="card">
                            <h4 class="card-header">
                              Profit(SGD)
                            </h4>
                            <div class="card-body">
                              <h2 *ngIf = "portfolioPerformance.profit < 0" style="color:red;">-${{getAbsoluteVal(portfolioPerformance.profit) | number : '1.2-2'}}</h2>
                              <h2 *ngIf = "portfolioPerformance.profit == 0">${{getAbsoluteVal(portfolioPerformance.profit) | number : '1.2-2'}}</h2>
                              <h2 *ngIf = "portfolioPerformance.profit > 0" style="color:green;">+${{getAbsoluteVal(portfolioPerformance.profit) | number : '1.2-2'}}</h2>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="card">
                            <h4 class="card-header">
                              Profit(%)
                            </h4>
                            <div class="card-body">
                              <h2 *ngIf = "portfolioPerformance.profitPct < 0" style="color:red;">-{{getAbsoluteVal(portfolioPerformance.profitPct)}}%</h2>
                              <h2 *ngIf = "portfolioPerformance.profitPct == 0">{{getAbsoluteVal(portfolioPerformance.profitPct)}}%</h2>
                              <h2 *ngIf = "portfolioPerformance.profitPct > 0" style="color:green;">+{{getAbsoluteVal(portfolioPerformance.profitPct)}}%</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                
                  <table class="table table-striped">
                    <thead class="table-header">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Investment Amount(SGD)</th>
                            <th>Current Value(SGD)</th>
                            <th>Profit(SGD)</th>
                            <th>Profit(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><b>{{etfPerformance.name}}</b></td>  
                          <td>${{etfPerformance.investAmt | number : '1.2-2'}}</td>
                          <td>${{etfPerformance.currentVal | number : '1.2-2'}}</td>
                          <td *ngIf = "etfPerformance.profit < 0" style="color:red;">
                            <b>-${{getAbsoluteVal(etfPerformance.profit) | number : '1.2-2'}}</b> </td>
                          <td *ngIf = "etfPerformance.profit == 0">
                                ${{getAbsoluteVal(etfPerformance.profit) | number : '1.2-2'}} </td>
                          <td *ngIf = "etfPerformance.profit > 0" style="color:green;">
                              <b>+${{getAbsoluteVal(etfPerformance.profit) | number : '1.2-2'}}</b> </td>
                          <td *ngIf = "etfPerformance.profitPct < 0" style="color:red;">
                            <b>-{{getAbsoluteVal(etfPerformance.profitPct) | number : '1.2-2'}}%</b> </td>
                          <td *ngIf = "etfPerformance.profitPct == 0">
                                {{getAbsoluteVal(etfPerformance.profitPct) | number : '1.2-2'}}% </td>
                          <td *ngIf = "etfPerformance.profitPct > 0" style="color:green;">
                              <b>+{{getAbsoluteVal(etfPerformance.profitPct) | number : '1.2-2'}}%</b> </td>
                        </tr>
                        <tr>
                          <td><b>{{stockPerformance.name}}</b></td>  
                          <td>${{stockPerformance.investAmt | number : '1.2-2'}}</td>
                          <td>${{stockPerformance.currentVal | number : '1.2-2'}}</td>
                          <td *ngIf = "stockPerformance.profit < 0" style="color:red;">
                            <b>-${{getAbsoluteVal(stockPerformance.profit) | number : '1.2-2'}}</b> </td>
                          <td *ngIf = "stockPerformance.profit == 0">
                                ${{getAbsoluteVal(stockPerformance.profit) | number : '1.2-2'}} </td>
                          <td *ngIf = "stockPerformance.profit > 0" style="color:green;">
                              <b>+${{getAbsoluteVal(stockPerformance.profit) | number : '1.2-2'}}</b> </td>
                          <td *ngIf = "stockPerformance.profitPct < 0" style="color:red;">
                            <b>-{{getAbsoluteVal(stockPerformance.profitPct) | number : '1.2-2'}}%</b> </td>
                          <td *ngIf = "stockPerformance.profitPct == 0">
                                {{getAbsoluteVal(stockPerformance.profitPct) | number : '1.2-2'}}% </td>
                          <td *ngIf = "stockPerformance.profitPct > 0" style="color:green;">
                              <b>+{{getAbsoluteVal(stockPerformance.profitPct) | number : '1.2-2'}}%</b> </td>
                        </tr>
                    </tbody>
                  </table>
  
                  <table class="table table-striped">
                    <thead class="table-header">
                        <tr>
                            <th>&nbsp;</th>
                            <th>US Allocation(SGD)</th>
                            <th>HK Allocation(SGD)</th>
                            <th>SG Allocation(SGD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><b>Allocation Amount</b></td> 
                          <td>${{gphyPerformance.usAllocation | number : '1.2-2'}}</td>
                          <td>${{gphyPerformance.hkAllocation | number : '1.2-2'}}</td>
                          <td>${{gphyPerformance.sgAllocation | number : '1.2-2'}}</td>
                        </tr>
                    </tbody>
                  </table>
  
                </div>

                <div class="col-sm">

                  <div class="row">
                    <div class="col-6">
                      <div class="chart">
                        <h2>Product Asset Allocation</h2>
                        <div class="chart-wrapper">
                          <canvas baseChart
                          height="60vh" width="80vw"
                          [data]="assetChartData"
                          [labels]="assetChartLabels"
                          [chartType]="assetChartType"
                          [colors]="doughnutChartColors">
                          </canvas>
                        </div>
                      </div> 
                    </div> 
                    <div class="col-6">
                      <h2>Geographical Allocation</h2>
                      <div class="chart-wrapper">
                        <canvas baseChart
                        height="60vh" width="80vw"
                        [data]="gphyChartData"
                        [labels]="gphyChartLabels"
                        [chartType]="gphyChartType"
                        [colors]="doughnutChartColors">
                        </canvas>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>     
            
            </div>   
            
          </mat-tab>
          

          <mat-tab label="Cash Solutions">
            <br> 
            <div class="card">
              <h1 class="card-header">
                Cash Solutions
              </h1>
              <div class="card-body">
                <mat-card class="mat-elevation-z5">
                  <mat-card-header>
                    <mat-card-title>Total Cash Available</mat-card-title>
                    <mat-card-subtitle>
                      Total Cash in Bank Balance of <b> {{username}} </b>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <br>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-3">
                        <h2>
                          ${{totalCash | number : '1.2-2'}}
                        </h2>
                      </div>
                      <div class="col-7">
                        <h4 style="text-align:left">
                          This is the consolidated all available balance of <b>{{username}}</b>'s cash in bank for this user.
                        </h4>
                      </div>
                      <div class="col-2">
                          <button mat-raised-button color="primary" (click)="updateCash(totalCash)">Update Cash in Bank Balance</button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <br>
                <mat-card class="mat-elevation-z5">
                  <mat-card-header>
                    <mat-card-title>Other Assets</mat-card-title>
                    <mat-card-subtitle>
                      Other additional assets of <b> {{username}} </b> 
                    </mat-card-subtitle>
                  </mat-card-header>
                  <br>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-3">
                        <h2>
                          ${{otherAsset | number : '1.2-2'}}
                        </h2>
                      </div>
                      <div class="col-7">
                        <h4 style="text-align:left">
                          This is the estimated balance of <b>{{username}}</b>'s other additional investment assets. This may include other investments, loans, etc.
                        </h4>
                      </div>
                      <div class="col-2">
                        <button mat-raised-button color="primary" (click)="updateOtherAsset(otherAsset)">Update Other Assets Balance</button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <br>
                <mat-card class="mat-elevation-z5">
                  <mat-card-header>
                    <mat-card-title>Total Wealth</mat-card-title>
                    <mat-card-subtitle>
                      Total Cash in Bank Balance and Investments of <b> {{username}} </b> 
                    </mat-card-subtitle>
                  </mat-card-header>
                  <br>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-3">
                        <h2>
                          ${{totalWealth | number : '1.2-2'}}
                        </h2>
                      </div>
                      <div class="col-9">
                        <h4 style="text-align:left">
                          This is the combined amount of <b>{{username}}</b>'s total cash available and total investment current value.
                        </h4>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

                <br>
                <h2>Total Cash and Investments</h2>
                <div style=" margin: auto; width: 40vw; height: 40vh;">
                  <canvas baseChart
                  [data]="cashSolChartData"
                  [labels]="cashSolChartLabels"
                  [chartType]="cashSolChartType"
                  [colors]="doughnutChartColors">
                  </canvas>
                </div>
              
              </div>
            </div>

            <br>

          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>



