<div class="container-fluid">
  <br>
  <div class="card ">
    <div class="text-left">
      <h1 class="card-header">Portfolio Holdings</h1>
    </div>
  <div class="card-body">
    <div class="container-fluid">
      <h1 class="d-inline"><b>Portfolio Name: {{portfolio.portfolioName}}</b></h1>
      <button type="button" class="d-inline float-right btn btn-warning"
            (click)="genHoldReport(portId)"
            [disabled]= "!stocks || stocks.length == 0">
            Generate Holdings Report</button>
      <table class="table table-striped" style="width: 100%">
          <thead class= "table-header">
              <tr>
                  <th style="width:15%">Stock Name</th>
                  <th style="width:5%">Stock Symbol</th>
                  <th style="width:5%">Stock Exchange</th>
                  <th style="width:5%">Total Shares</th>
                  <th style="width:10%">Average Price/Share</th>
                  <th style="width:10%">Total Amount</th>
                  <th style="width:10%">Last Trans Price</th>
                  <th style="width:10%">Market Value</th>
                  <th style="width:10%">P&L(+/-)</th>
                  <th style="width:5%">P&L(%)</th>
                  <th style="width:5%">Last Trans By</th>
                  <th style="width:10%">Last Trans Date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let stock of stocks">
                  <td><a [routerLink]="" (click)="sellPortfolioTrans(stock)">{{stock.stockName}}</a></td>
                  <td>{{stock.stockSymbol}}</td>
                  <td>{{stock.stockExchg}}</td>
                  <td>{{stock.totalShare}}</td>
                  <td *ngIf="stock.avgPrice">{{checkCurr(stock.stockExchg) + (stock.avgPrice | number : '1.2-2')}}</td>
                  <td *ngIf="!stock.avgPrice">{{checkCurr(stock.stockExchg) + (stock.avgPrice | number : '1.2-2')}}</td>

                  <td *ngIf="stock.totalAmt">{{checkCurr(stock.stockExchg) + (stock.totalAmt | number : '1.2-2')}}</td>
                  <td *ngIf="!stock.totalAmt">{{checkCurr(stock.stockExchg) + (stock.totalAmt | number : '1.2-2')}}</td>

                  <td *ngIf="stock.lastTransPrice">{{checkCurr(stock.stockExchg) + (stock.lastTransPrice | number : '1.2-2')}}</td>
                  <td *ngIf="!stock.lastTransPrice">{{checkCurr(stock.stockExchg) + (stock.lastTransPrice | number : '1.2-2')}}</td>

                  <td *ngIf="stock.mktValue">{{checkCurr(stock.stockExchg) + (stock.mktValue | number : '1.2-2')}}</td>
                  <td *ngIf="!stock.mktValue">{{checkCurr(stock.stockExchg) + (stock.mktValue | number : '1.2-2')}}</td>

                  <td *ngIf="stock.profitLoss > 0 && stock.profitLoss" style="color:green;">
                  <b> +{{checkCurr(stock.stockExchg) + (getAbsolutePL(stock.profitLoss) | number : '1.2-2')}}</b></td>
                  <td *ngIf="stock.profitLoss < 0 && stock.profitLoss" style="color:red;">
                  <b> -{{checkCurr(stock.stockExchg) + (getAbsolutePL(stock.profitLoss) | number : '1.2-2')}}</b></td>
                  <td *ngIf="!stock.profitLoss">{{checkCurr(stock.stockExchg) + (getAbsolutePL(stock.profitLoss) | number : '1.2-2')}}</td>

                  <td *ngIf="stock.profitLossPct > 0 && stock.profitLossPct" style="color:green;"><b>{{(stock.profitLossPct | number : '1.2-2')+ '%'}}</b></td>
                  <td *ngIf="stock.profitLossPct < 0 && stock.profitLossPct" style="color:red;"><b>{{(stock.profitLossPct | number : '1.2-2') + '%'}}</b></td>
                  <td *ngIf="!stock.profitLossPct">{{(stock.profitLossPct | number : '1.2-2') + '%'}}</td>

                  <td>{{stock.lastTransBy}}</td>
                  <td>{{stock.lastTransDt | date:'dd-MM-yyyy'}} </td>
              </tr>
              <tr *ngIf = '!stocks || stocks.length == 0'>
                <td class='text-center' colspan=12>
                  No Record(s) Found.
                </td>
              </tr>
          </tbody>
      </table>
    </div>
      <div class="container text-center">
        <button type="button" class="btn btn-success col-1" (click)="ngOnInit()" >Refresh</button>
        <button type="button" class="btn btn-danger col-1" [routerLink] = "['/portfolio', portId]"> Back</button>
      </div>
    </div>
  </div>
</div>

