<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a class ="navbar-brand">
          PMS</a></div>
      <div class="collapse navbar-collapse" style="flex-direction: column; align-items: flex-start;">
        <ul class="navbar-nav" *ngIf = "authenticateService.isUserLoggedIn()">
          <li><a routerLink="/home" class="nav-link">Home</a></li>
          <li><a routerLink="/userlist" class="nav-link">System Admin</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="portfolioMngt" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Portfolio Management
            </a>
            <div class="dropdown-menu" aria-labelledby="portfolioMngt">
              <a routerLink="/portfoliolist" class="dropdown-item"> Manage Portfolio </a>
              <a routerLink="/div" class="dropdown-item">Manage Dividend</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dataLoading" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data Loading
            </a>
            <div class="dropdown-menu" aria-labelledby="dataLoading">
              <a routerLink="/loadportfolio" class="dropdown-item"> Load Transaction Data </a>
              <a routerLink="/loaddiv" class="dropdown-item"> Load Dividend Data </a>
            </div>
          </li>
          <li><a routerLink="/profitloss" class="nav-link">P&L Overview</a></li>
          <li><a routerLink="/watchlistmain" class="nav-link">Watchlist</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse flex-column" style="flex-direction: column; align-items: flex-end;"  id="navbarCollapse"
        *ngIf = "authenticateService.isUserLoggedIn()">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link disabled"> Login User: {{authenticateService.getAuthenticationUser()}}</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-row" >
          <li class="nav-item" style="margin:0 20px 0 0">
            <mat-icon matBadge="{{msgCount}}" matBadgeColor="warn" style="color: white; cursor: pointer" 
            (click)="displayNoti()" tabindex="0"> notifications</mat-icon>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" 
              (click) = "authenticateService.logout()">Logout</a>
          </li>
        </ul>
      </div>
      
  </nav>
</header>
