<div class="container-fluid">
  <br/>
  <div class="card ">
    <h1 class="card-header">
      Profit & Loss Overview
    </h1>
    <div *ngIf="this.form.errMsg" class="alert alert-danger">
      <b>Error: </b> {{this.form.errMsg}}
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-2">
            <label style='position:absolute; top:25%'>Select Portfolio: </label>
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="this.form.selectedPortfolio">
              <option *ngFor = "let portfolio of this.form.portfolioList" [value] = "portfolio">{{portfolio}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2">
            <label style='position:absolute; top:25%'>Realised/Unrealised P&L: </label>
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="this.form.selectedPnlType" >
              <option *ngFor="let pnlType of pnlTypes" [value]="pnlType"> {{pnlType}} </option>
            </select>
          </div>
          <div class="col-2">
            <label style='position:absolute; top:25%'>Converted Currency: </label>
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="this.form.selectedCurr">
              <option *ngFor="let curr of this.form.currList" [value]="curr"> {{curr}} </option>
            </select>
          </div>
          <div class='col-1'>
          </div>
          <div class='col-1'>
            <button type="button" mat-raised-button color='primary' style='float: right; width:150px;'
            (click)="retrieve(form)">Retrieve</button>
          </div>
          <!-- <div class='col-1'>
            <button type="button" mat-raised-button color='primary' style='float: right; width:150px;'
            (click)="initPage()" >Refresh</button>
          </div> -->
        </div>
        <br>
        <div class="card " *ngIf = "(selectedPnlType == 'ALL' || selectedPnlType == 'UNREALISED') && selectedPortfolio != '' ">
          <h1 class="card-header">
            Unrealised Profit & Loss
          </h1>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                  <table class="table table-striped" style="width: 100%">
                    <thead class="table-header">
                        <tr>
                            <th style="width: 25%">Stock Name</th>
                            <th style="width: 5%">Stock Symbol</th>
                            <!-- <th style="width: 5%">Stock Exchange</th> -->
                            <th style="width: 7%">Total Shares</th>
                            <th style="width: 5%">Average Price/Share</th>
                            <th style="width: 12%">Total Amount</th>
                            <th style="width: 5%">Last Trans Price</th>
                            <th style="width: 12%">Market Value</th>
                            <th style="width: 12%">P&L(+/-)</th>
                            <th style="width: 12%">Converted P&L(+/-)</th>
                            <th style="width: 5%">P&L(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let unrealised of this.form.unrealisedList">
                            <td><label>{{unrealised.stockName}}</label></td>
                            <td><label>{{unrealised.stockSymbol}}</label></td>
                            <!-- <td><label>{{unrealised.stockExchg}}</label></td> -->
                            <td><label>{{unrealised.totalShare}}</label></td>

                            <td *ngIf="unrealised.avgPrice"><label>{{unrealised.domCurr + '$' + (unrealised.avgPrice | number : '1.2-2')}}</label></td>
                            <td *ngIf="!unrealised.avgPrice"><label>{{unrealised.domCurr + '$' + (unrealised.avgPrice | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.totalAmt"><label>{{unrealised.domCurr + '$' + (unrealised.totalAmt | number : '1.2-2')}}</label></td>
                            <td *ngIf="!unrealised.totalAmt"><label>{{unrealised.domCurr + '$' + (unrealised.totalAmt | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.lastTransPrice"><label>{{unrealised.domCurr + '$' + (unrealised.lastTransPrice | number : '1.2-2')}}</label></td>
                            <td *ngIf="!unrealised.lastTransPrice"><label>{{unrealised.domCurr + '$' + (unrealised.lastTransPrice | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.mktValue"><label>{{unrealised.domCurr + '$' + (unrealised.mktValue | number : '1.2-2')}}</label></td>
                            <td *ngIf="!unrealised.mktValue"><label>{{unrealised.domCurr + '$' + (unrealised.mktValue | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.profitLoss > 0 && unrealised.profitLoss" style="color:green;">
                              <label><b> +{{unrealised.domCurr + '$' + (getAbsolutePL(unrealised.profitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="unrealised.profitLoss <= 0 && unrealised.profitLoss" style="color:red;">
                              <label><b> -{{unrealised.domCurr + '$' + (getAbsolutePL(unrealised.profitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="!unrealised.profitLoss"><label>{{unrealised.domCurr + '$' + (getAbsolutePL(unrealised.profitLoss) | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.convProfitLoss > 0 && unrealised.convProfitLoss" style="color:green;">
                              <label><b> +{{selectedCurr + '$' + (getAbsolutePL(unrealised.convProfitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="unrealised.convProfitLoss < 0 && unrealised.convProfitLoss" style="color:red;">
                              <label><b> -{{selectedCurr + '$' + (getAbsolutePL(unrealised.convProfitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="!unrealised.convProfitLoss"><label>{{selectedCurr + '$' + (getAbsolutePL(unrealised.convProfitLoss) | number : '1.2-2')}}</label></td>

                            <td *ngIf="unrealised.profitLossPct > 0 && unrealised.profitLossPct" style="color:green;"><label><b>{{(unrealised.profitLossPct | number : '1.2-2')+ '%'}}</b></label></td>
                            <td *ngIf="unrealised.profitLossPct < 0 && unrealised.profitLossPct" style="color:red;"><label><b>{{(unrealised.profitLossPct | number : '1.2-2') + '%'}}</b></label></td>
                            <td *ngIf="!unrealised.profitLossPct"><label>{{(unrealised.profitLossPct | number : '1.2-2') + '%'}}</label></td>
                        </tr>
                        <tr style="background-color:rgb(209, 180, 202)" *ngIf = "this.form.unrealisedTotalList">
                          <th style="width: 25%">   </th>
                          <th style="width: 5%">   </th>
                          <!-- <th>   </th> -->
                          <th style="width: 7%">   </th>
                          <th style="width: 5%">   </th>
                          <th style="width: 12%">Total Share Value</th>
                          <th style="width: 5%">   </th>
                          <th style="width: 12%">Total Market Value</th>
                          <th style="width: 12%">   </th>
                          <th style="width: 12%">Converted Total P&L(+/-)</th>
                          <th style="width: 5%">Total P&L(%)</th>
                        </tr>
                        <tr *ngIf = "this.form.unrealisedTotalList">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <!-- <td></td> -->
                          <td><input type="text" [(ngModel)]=unrealTotalShareValue disabled></td>
                          <td></td>
                          <td><input type="text" [(ngModel)]=unrealTotalMktValue disabled></td>
                          <td></td>
                          <td *ngIf = "form.unrealisedTotalList.convProfitLoss > 0 && form.unrealisedTotalList.convProfitLoss">
                            <b><input type="text" style="color:green; font-weight: bold;"
                              [(ngModel)]=unrealConvTotalProfitLoss disabled></b></td>
                          <td *ngIf = "form.unrealisedTotalList.convProfitLoss < 0 && form.unrealisedTotalList.convProfitLoss">
                            <b><input type="text" style="color:red; font-weight: bold;"
                              [(ngModel)]=unrealConvTotalProfitLoss disabled></b></td>
                          <td *ngIf = "!form.unrealisedTotalList.convProfitLoss">
                            <b><input type="text" [(ngModel)]=unrealConvTotalProfitLoss disabled></b></td>

                          <td *ngIf = "form.unrealisedTotalList.profitLossPct > 0 && form.unrealisedTotalList.profitLossPct">
                            <b><input type="text" style="color:green; font-weight: bold;"
                              [(ngModel)]=unrealProfitLossPct disabled></b></td>
                          <td *ngIf = "form.unrealisedTotalList.profitLossPct < 0 && form.unrealisedTotalList.profitLossPct">
                            <b><input type="text" style="color:red; font-weight: bold;"
                              [(ngModel)]=unrealProfitLossPct disabled></b></td>
                          <td *ngIf = "!form.unrealisedTotalList.profitLossPct">
                            <b><input type="text" [(ngModel)]=unrealConvTotalProfitLoss disabled></b></td>
                        </tr>
                        <tr>
                          <td *ngIf = "!this.form.unrealisedList || this.form.unrealisedList.length == 0" class='text-center' colspan=12>
                            No Record(s) Found.
                          </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="card " *ngIf = "(selectedPnlType == 'ALL' || selectedPnlType == 'REALISED') && selectedPortfolio != '' ">
          <h1 class="card-header">
            Realised Profit & Loss
          </h1>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                  <table class="table table-striped" style="width: 100%">
                    <thead class="table-header" >
                        <tr>
                            <th style="width: 20%">Stock Name</th>
                            <th style="width: 5%">Stock Symbol</th>
                            <th style="width: 5%">Stock Exchange</th>
                            <th style="width: 5%">Quantity</th>
                            <th style="width: 15%">Sell Date</th>
                            <th style="width: 10%">Average Cost</th>
                            <th style="width: 10%">Sell Price</th>
                            <th style="width: 10%">P&L(+/-)</th>
                            <th style="width: 10%">Converted P&L(+/-)</th>
                            <th style="width: 10%">P&L(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let realised of this.form.realisedList">
                            <td><label>{{realised.stockName}}</label></td>
                            <td><label>{{realised.stockSymbol}}</label></td>
                            <td><label>{{realised.stockExchg}}</label></td>
                            <td><label>{{realised.totalShare}}</label></td>
                            <td><label>{{realised.sellDt | date:'dd-MM-yyyy'}}</label></td>
                            <td *ngIf="realised.avgCost"><label>{{realised.domCurr + '$' + (realised.avgCost | number : '1.2-2')}}</label></td>
                            <td *ngIf="!realised.avgCost"><label>{{realised.domCurr + '$' + (realised.avgCost | number : '1.2-2')}}</label></td>
                            <td *ngIf="realised.sellPrice"><label>{{realised.domCurr + '$' + (realised.sellPrice | number : '1.2-2')}}</label></td>
                            <td *ngIf="!realised.sellPrice"><label>{{realised.domCurr + '$' + (realised.sellPrice | number : '1.2-2')}}</label></td>

                            <td *ngIf="realised.profitLoss > 0 && realised.profitLoss" style="color:green;">
                              <label><b> +{{realised.domCurr + '$' + (getAbsolutePL(realised.profitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="realised.profitLoss <= 0 && realised.profitLoss" style="color:red;">
                              <label><b> -{{realised.domCurr + '$' + (getAbsolutePL(realised.profitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="!realised.profitLoss"><label>{{realised.domCurr + '$' + (getAbsolutePL(realised.profitLoss) | number : '1.2-2')}}</label></td>

                            <td *ngIf="realised.convProfitLoss > 0 && realised.convProfitLoss" style="color:green;">
                              <label><b> +{{selectedCurr + '$' + (getAbsolutePL(realised.convProfitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="realised.convProfitLoss < 0 && realised.convProfitLoss" style="color:red;">
                              <label><b> -{{selectedCurr + '$' + (getAbsolutePL(realised.convProfitLoss) | number : '1.2-2')}}</b></label></td>
                            <td *ngIf="!realised.convProfitLoss"><label>{{selectedCurr + '$' + (getAbsolutePL(realised.convProfitLoss) | number : '1.2-2')}}</label></td>

                            <td *ngIf="realised.profitLossPct > 0 && realised.profitLossPct" style="color:green;"><label><b>{{(realised.profitLossPct | number : '1.2-2')+ '%'}}</b></label></td>
                            <td *ngIf="realised.profitLossPct < 0 && realised.profitLossPct" style="color:red;"><label><b>{{(realised.profitLossPct | number : '1.2-2') + '%'}}</b></label></td>
                            <td *ngIf="!realised.profitLossPct"><label>{{(realised.profitLossPct | number : '1.2-2') + '%'}}</label></td>
                        </tr>
                        <tr style="background-color:rgb(209, 180, 202)" *ngIf = "this.form.realisedTotalList">
                          <th>   </th>
                          <th>   </th>
                          <th>   </th>
                          <th>   </th>
                          <th>   </th>
                          <th>Total Cost Value</th>
                          <th>Total Sold Value</th>
                          <th>   </th>
                          <th>Converted Total P&L(+/-)</th>
                          <th>Total P&L(%)</th>
                        </tr>
                        <tr *ngIf = "this.form.realisedTotalList">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><input type="text" [(ngModel)]=realTotalCost disabled></td>
                          <td><input type="text" [(ngModel)]=realTotalSoldValue disabled></td>
                          <td></td>
                          <td *ngIf = "form.realisedTotalList.convProfitLoss > 0 && form.realisedTotalList.convProfitLoss">
                            <b><input type="text" style="color:green; font-weight: bold;"
                              [(ngModel)]=realConvTotalProfitLoss disabled></b></td>
                          <td *ngIf = "form.realisedTotalList.convProfitLoss < 0 && form.realisedTotalList.convProfitLoss">
                            <b><input type="text" style="color:red; font-weight: bold;"
                              [(ngModel)]=realConvTotalProfitLoss disabled></b></td>
                          <td *ngIf = "!form.realisedTotalList.convProfitLoss">
                            <b><input type="text" [(ngModel)]=realConvTotalProfitLoss disabled></b></td>
                          <td *ngIf = "form.realisedTotalList.profitLossPct > 0 && form.realisedTotalList.profitLossPct">
                            <b><input type="text" style="color:green; font-weight: bold;"
                              [(ngModel)]=realProfitLossPct disabled></b></td>
                          <td *ngIf = "form.realisedTotalList.profitLossPct < 0 && form.realisedTotalList.profitLossPct">
                            <b><input type="text" style="color:red; font-weight: bold;"
                              [(ngModel)]=realProfitLossPct disabled></b></td>
                          <td *ngIf = "!form.realisedTotalList.profitLossPct">
                            <b><input type="text" [(ngModel)]=realProfitLossPct disabled></b></td>

                        </tr>
                        <tr>
                          <td *ngIf = "!this.form.realisedList || this.form.realisedList.length == 0" class='text-center' colspan=12>
                            No Record(s) Found.
                          </td>
                        </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        <br>

  </div>
</div>

